<config>    
    <modules>
        <Practice_Todo>
            <version>0.1.0</version>
        </Practice_Todo>
    </modules>
    <frontend>
        <routers>
            <todo>
                <use>standard</use>
                <args>
                    <module>Practice_Todo</module>
                    <frontName>todo</frontName>
                </args>
            </todo>
        </routers>
        <!-- <layout><updates><todo><file>todo.xml</file></todo></updates></layout> --> 
    </frontend>
    <global>
        <models>
            <todo>
                <class>Practice_Todo_Model</class>
                <resourceModel>todo_resource</resourceModel>
            </todo>       
            <todo_resource>
                <class>Practice_Todo_Model_Resource</class>
                <entities>
                    <todo>
                        <table>todos</table>
                    </todo>
                </entities>
            </todo_resource>
        </models>
        <blocks>
            <todo>
                <class>Practice_todo_Block</class>
            </todo>
        </blocks>
        <helpers>
            <todo>
                <class>Practice_todo_Helper</class>
            </todo>
        </helpers>
    </global>       
</config>